<form>
    Select categories for which you want to generate questions:
    <div class="form-group">
        <label for="background">Background</label>
        <input type="checkbox" name="background" id="background">
    </div>
    <div class="form-group">
        <label for="motivations">Motivations</label>
        <input type="checkbox" name="motivations" id="motivations">
    </div>
    <div class="form-group">
        <label for="personality">Personality/Traits</label>
        <input type="checkbox" name="personality" id="personality">
    </div>
    <div class="form-group">
        <label for="values">Beliefs/Values/Morality</label>
        <input type="checkbox" name="values" id="values">
    </div>
    <div class="form-group">
        <label for="relationships">Relationships</label>
        <input type="checkbox" name="relationships" id="relationships">
    </div>
    <div class="form-group">
        <label for="secrets">Secrets/Hidden Past</label>
        <input type="checkbox" name="secrets" id="secrets">
    </div>
    <div class="form-group">
        <label for="weakness">Fear/Weakness</label>
        <input type="checkbox" name="weakness" id="weakness">
    </div>
    <div class="form-group">
        <label for="interests">Hobbies/Interest</label>
        <input type="checkbox" name="interests" id="interests">
    </div>
    <div class="form-group">
        <label for="quirks">Quirks/Habits</label>
        <input type="checkbox" name="quirks" id="quirks">
    </div>
    <div class="form-group">
        <label for="num-questions">Number of Questions:</label>
        <input type="number" id="num-questions" name="numQuestions" value="1" min="1" max="10" step="1">
    </div>
    <button type="submit">Submit</button>
</form>